*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'REM', sans-serif;
}
ul{
    list-style: none;
}
.container{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 40px;
    padding: 16px;
    min-width: 340px;
    margin: auto;
    background: linear-gradient(to right, rgb(171, 248, 225), rgb(181, 181, 247));
}
.mode{
    background-color: #1f1e1e;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.mode:hover{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.reloj{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
    border: 3px solid #1f1e1e;
    border-radius: 50%;
}
.center{
    position: absolute;
    top: 150px;
    left: 150px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid rgb(238, 21, 21);;
    background: #1f1e1e;
    z-index: 1;
}
.hour{
    position: absolute;
    top: 156.5px;
    left: 160px;
    width: 80px;
    height: 7px;
    background: #1f1e1e;
    transform: rotate(270deg);
    transform-origin: 0 3.5px;
    border-radius: 10px;
}
.minute{
    position: absolute;
    top: 156.5px;
    left: 160px;
    width: 100px;
    height: 7px;
    background: #1f1e1e;
    transform: rotate(270deg);
    transform-origin: 0 3.5px;
    border-radius: 10px;
}
.second{
    position: absolute;
    top: 156.5px;
    left: 160px;
    width: 100px;
    height: 7px;
    background: rgb(238, 21, 21);
    transform: rotate(270deg);
    transform-origin: 0 3.5px;
    border-radius: 10px;
}
.showInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #1f1e1e;
}
.showInfo .time{
    font-size: 50px;
    font-weight: 500;
}
.showInfo .date{
    font-size: 20px;
}
.numbers {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.number {
    position: absolute;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    background-color: #1f1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    color: #1f1e1e;
}
a{
    color: #1f1e1e;
}
a:hover{
    color: #414040;
}
.bg-dark{
    background: linear-gradient(to right, rgb(10, 53, 82),rgb(13, 11, 29));
    
}
.border-dark{
    border: 3px solid white;
}
.active-dark{
    background-color: #252525;
    color: #fff;
}
.active-dark.hand-dark{
    background: #fff;
    color: #1f1e1e;
}
.active-dark.number{
    background-color: #fff;
    color: #1f1e1e;
}
.active-dark.link{
    color: #fff;
    background-color: transparent;
}
.active-dark.link:hover{
    color: #e2dfdf;
}