*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 35vh;
}
.mode{
    background-color: #1f1e1e;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    box-shadow: 0 3px 3px #000;
}
.mode:hover{
    background-color: #252525;
    box-shadow: 0 1px 3px #000;
}
.active-dark{
    background-color: #252525;
    color: #fff;
}
.active-dark.hand-dark{
    background: #fff;
    color: #000;
}
.reloj{
    position: relative;
}
.center{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid red;
    background: #000;
    z-index: 1;
}
.hour{
    position: absolute;
    top: 6.5px;
    left: 10px;
    width: 100px;
    height: 7px;
    background: #000;
    transform: rotate(270deg);
    transform-origin: 0 3.5px;
    transition: all 0.1s ease-in-out;
}
.minute{
    position: absolute;
    top: 6.5px;
    left: 10px;
    width: 150px;
    height: 7px;
    background: #000;
    transform: rotate(270deg);
    transform-origin: 0 3.5px;
    transition: all 0.1s ease-in-out;
}
.second{
    position: absolute;
    top: 6.5px;
    left: 10px;
    width: 150px;
    height: 7px;
    background: #f00;
    transform: rotate(270deg);
    transform-origin: 0 3.5px;
    transition: all 0.1s ease-in-out;
}
.showInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.showInfo .time{
    font-size: 50px;
}
.showInfo .date{
    font-size: 20px;
}